### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*

# Dependency directories
node_modules/

#reports
reports/html/assets
reports/html/features
reports/html/index.html
reports/json/*.json
allure-results/*.png
allure-results/*.xml
allure-report/*
!allure-report/allure.txt
browserstack-reports/*.xml


#browsertacks
local.log


# Optional npm cache directory
.npm

# Webstrom directories
.idea

.vscode
